# This is Git's per-user configuration file.

# preferences
[user]
  name = Anton Gilgur
  email = agilgur5@gmail.com
[credential]
  helper = osxkeychain
[pull]
  rebase = true
  autoSquash = true
  updateRefs = true
[fetch]
  prune = true
  pruneTags = true
[rerere]
  enabled = true
  autoupdate = true
[commit]
  verbose = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  editor = code --wait
[init]
  defaultBranch = main

# UI/UX improvements
[help]
  autocorrect = prompt
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname

# overrides
[includeIf "gitdir:~/Desktop/GitHub/oss/"]
  path = ~/.gitconfig_oss
