# This is Git's per-user configuration file.
[user]
  name = Anton Gilgur
  email = agilgur5@gmail.com
[credential]
  helper = osxkeychain
[pull]
  rebase = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  editor = code --wait
[init]
  defaultBranch = main

[includeIf "gitdir:~/Desktop/GitHub/oss/"]
  path = ~/.gitconfig_oss
